/* ListaPerritos.css */

.lista-perritos-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}

.lista-perritos-container h2 {
  text-align: center;
  color: #FF7D04;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: poppins, sans-serif;
  font-size: 50px;
  
}

/* Grid de perritos */
.perritos-grid {
  display: grid;
  /* 4 columnas en pantallas grandes */
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 20px 0;
}

/* Card de cada perrito */
.perrito-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 300px;
  width: 250px;
}

.perrito-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Foto del perrito */
.perrito-foto {
  width: 100%;
  height: 250px; 
  object-fit: fill;
  display: block;
  background-color: #f5f5f5;
}

/* Info del perrito */
.perrito-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.perrito-info h4 {

  color: #6F6F6F;
  margin-bottom: 8px;
  font-weight: 600;
  text-align: center;
}



/* Loading y Error */
.loading,
.error {
  text-align: center;
  padding: 60px 20px;
  font-size: 1.3rem;
  color: #6F6F6F;
}

.error {
  color: #d32f2f;
}

/* Responsive */
@media (max-width: 1024px) {
  /* En pantallas medianas usar 3 columnas */
  .perritos-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .lista-perritos-container h2 {
    font-size: 2rem;
  }

  /* En tablets usar 2 columnas */
  .perritos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .perrito-foto {
    aspect-ratio: 4 / 3;
  }

  
}

@media (max-width: 480px) {

  .perritos-grid {
    grid-template-columns: 1fr; /* 1 columna */
  }

  .perrito-card {
    width: 90%;        /* más ancha */
    max-width: 380px;  /* límite opcional */
    margin: 0 auto;    /* centrar */
    height: auto; 
  }

  .perrito-foto {
    height: 260px;     /* más alta para móviles */
    object-fit: fill;
  }
}